html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.keyword-label {
	font-size: 14px;
	font-style: normal;
/*	font-family: "Comic Sans MS", cursive, sans-serif; */
}
.clear {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
}

.sidebar-right, .sidebar-left, .content{
  height: 100%;
}

.sidebar-left, .sidebar-right {
 /* background-color: #dddddd; */
}

.main {
  padding-bottom: 180px;
  height: 100%;
  width: 100%;
  /*background-color: #ff0000;*/
}

.bottom {
  position: relative;
  width:100%;
  bottom: 180px;
  height: 180px;
  /*background-color: #cccccc;*/
}

/*navigation view*/
.axis--grid .domain {
  fill: #ddd;
  stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
  stroke: #fff;
}

.axis--grid .tick--minor line {
  stroke-opacity: .5;
}

#navigation-view {
  width: 100%;
  height: 100%;
}

/*line view*/

#line-view {
  width: 100%;
  height: 100%;
}

#keywords-view {
  width: 100%;
  height: 100%;
}

.axis--x path {
  display: none;
}

.line {
  transition-property: opacity, stroke-width;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  fill: none;
  stroke-width: 2px;
}

.line-dim {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  opacity: 0.2;
}

.line-highlight {
  transition-property: opacity, stroke-width;
  transition-duration: 0.2s, 0.1s;
  transition-timing-function: ease-out;
  opacity: 1;
  stroke-width: 6px;
}

/*.line-selection {
  opacity: 0.2;
}

.line-selected {
  opacity: 1;
  stroke-width: 4px;
}*/
